body {
  background-image: url('https://github.com/swoo1029/wlq/blob/main/%EB%B0%B0%EA%B2%BD.jpg?raw=true');
  background-size: cover;
  background-position: center;
  margin: 0;
  front-family: Arial, sans-serif;
  
.styled-button {
  background-color:#4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0 4px #999;
}

.styled-button:hover {
  background-color: #45a049;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

hl {
  color: white;
  margin-bottom: 20px;
}
